name: Access Issue Information
on: 
  issues:  # trigger 
    types: [opened, reopened. labeled]
    
# Define the event 
jobs:
  autocoder:
  # Run only if the issue has the label "autocoder-bot"
    if: contains(github.event.issue.labels.*.name, 'autocoder-bot')
    runs-on: ubuntu-latest
          
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run AutoCoder script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REPOSITORY: ${{ github.repository }}
        ISSUE_NUMBER: ${{ github.event.issue.number }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        chmod +x scripts/autocoder.sh
        ./scripts/autocoder.sh "$GITHUB_TOKEN" "$REPOSITORY" "$ISSUE_NUMBER" "$OPENAI_API_KEY"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: autocoder-artifact
        path: autocoder-bot

    - name: Download AutoCoder artifact
      uses: actions/download-artifact@v4
      with:
        name: autocoder-artifact
        path: autocoder-artifact

    - name: List generated files recursively
      run: ls -R autocoder-artifact
